body { padding-top: 70px;}

h1{
    margin: 30px;
}

footer > nav.navbar.navbar-inverse{
    position: fixed;
    width: 100%;
    bottom: 0px;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    border-radius: inherit;
}

.footer > .navbar{
    margin-bottom: 0;
}

.footer > .navbar > .container-fluid {
    text-align: center;
    color:#ffffff;
    margin:15px;
}

#map{
    height: 300px;
}